.card{
    background-color: #fff; 
    border-radius: 5px; 
    padding: 2.5rem 1rem 1.5rem 1rem; 
    position: relative; 
    max-width: 80rem; 
    box-shadow: 0 5px 10px hsla(180, 29%, 50%, .2);
}
.card.new{
    border-left: solid 5px var(--c-500); 
}
.logo{
    position: absolute; 
    top: -1rem; 
    width: 3rem; 
}

.companyBox{
    display: flex; 
    align-items: center;
    margin-bottom: .5rem; 
}
.company{
    font-weight: 700; 
    color: var(--c-500); 
    margin-right: 1rem; 
}

.newTag, .featuredTag{
    line-height: .7em; 
    text-transform: uppercase;
    color: #fff; 
    padding: .5rem .5rem .3rem;  
    border-radius: 1rem; 
}
.newTag{
    margin-right: .5rem; 
    background-color: var(--c-500);
}

.featuredTag{
    background-color: var(--c-800);
}

.position{
    font-weight: 700; 
    color: var(--c-800);
    cursor: pointer; 
}
.position:hover {
color: var(--c-500); 
}
.infoBox{
    display: flex; 
    gap: 1rem; 
    color: var(--c-600); 
border-bottom: solid 1px var(--c-600); 
padding-block: .5rem; 
margin-bottom: 1rem; 
}

.infoBox p:not(:last-child){
position: relative; 
}

.infoBox p:not(:last-child)::before{
    position: absolute;
    content: "";
    width: 4px; 
    height: 4px; 
    background-color: var(--c-600); 
    border-radius: 50%; 
    top: 8px; 
    right: -10px; 

}
.tags{
    display: flex; 
    gap: 1rem; 
    flex-wrap: wrap;
}
.tag{
    background-color: var(--c-200);  
    font-weight: 700; 
    color: var(--c-500);
    padding: .5rem;  
    border-radius: 5px; 
    line-height: 1em; 
    cursor: pointer; 
}

.tag:hover{
    background-color: var(--c-500);
    color: #fff; 
}

@media (min-width: 45em) {
    .card{
       display: flex; 
       align-items: center;
        padding: 2rem; 
    }
    .logo{
        position: initial;
        width: initial; 
        margin-right: 1rem; 
    }

    .jobDescription{
        margin-right: 1rem; 
    }
    .infoBox{
        border: 0; 
        margin: 0; 
        padding-block: 0; 
    }

    .tags{
        margin-left: auto; 
    }
}